<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tf.base.unpublic.persistence.DeputySecretaryInfoMapper">
  <resultMap id="BaseResultMap" type="com.tf.base.unpublic.domain.DeputySecretaryInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="party_org_id" jdbcType="INTEGER" property="partyOrgId" />
    <result column="deputy_secretary_type" jdbcType="VARCHAR" property="deputySecretaryType" />
    <result column="deputy_secretary_name" jdbcType="VARCHAR" property="deputySecretaryName" />
    <result column="deputy_secretary_birthday" jdbcType="DATE" property="deputySecretaryBirthday" />
    <result column="deputy_secretary_sex" jdbcType="VARCHAR" property="deputySecretarySex" />
    <result column="deputy_secretary_education" jdbcType="VARCHAR" property="deputySecretaryEducation" />
    <result column="deputy_secretary_is_full_time" jdbcType="VARCHAR" property="deputySecretaryIsFullTime" />
    <result column="is_board_officer" jdbcType="VARCHAR" property="isBoardOfficer" />
    <result column="other_into_manger" jdbcType="VARCHAR" property="otherIntoManger" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_org" jdbcType="VARCHAR" property="createOrg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, party_org_id, deputy_secretary_type, deputy_secretary_name, deputy_secretary_birthday, 
    deputy_secretary_sex, deputy_secretary_education, deputy_secretary_is_full_time, 
    is_board_officer, other_into_manger, creater, create_org, create_time, status
  </sql>
  <update id="deleteDeputysecretaryInfo">
  	update deputy_secretary_info set status = '0' where party_org_id = #{partyOrgId}
  </update>
</mapper>