<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tf.base.resource.persistence.ResourceQueryMapper">
	<select id="getResourceInfo" resultType="ResourceInfo">
		SELECT t.id, 
						t.systemid,
						t.resourceurl,
						t.resourcename, 
						t.resourceorder,
						t.resourcelevel,
						t.type,
						t.permission,
						t.icon,
						t.sortIndx,
						t.parentid as _parentId
		FROM resourcesinfo t
		 <where> 
	       <if test="params.id != ''  and params.id!=null ">  
	            t.id = #{params.id}  
	        </if>
	         <if test="params.name != '' and params.name!=null">  
	           and t.resourcename =  #{params.name}  
	        </if>
	        <if test="params.sysId != '' and params.sysId!=null">  
	           and t.systemid =  #{params.systemid}  
	        </if>
	        </where>
  			ORDER BY t.`parentid` ASC,t.`sortIndx` ASC 
  		 LIMIT #{start},#{params.rows} 
	</select>
	
	<select id="getResourceCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM resourcesinfo t
		 <where> 
	       <if test="params.id != ''  and params.id!=null ">  
	            t.id = #{params.id}  
	        </if>
	         <if test="params.name != '' and params.name!=null">  
	           and t.resourcename =  #{params.name}  
	        </if>
	        <if test="params.sysId != '' and params.sysId!=null">  
	           and t.systemid =  #{params.systemid}  
	        </if>
	        </where>
	</select>
	
   	<select id="getResourceInfoBySys" resultType="ResourceInfo">
		SELECT t.id, 
						t.systemid,
						t.resourceurl,
						t.resourcename, 
						t.resourceorder,
						t.resourcelevel,
						t.type,
						t.permission,
						t.icon,
						t.sortIndx,
						t.parentid as _parentId
		FROM resourcesinfo t
		 WHERE t.systemid = #{system,jdbcType=NUMERIC}
  ORDER BY  t.resourcelevel,t.`parentid` ASC,t.`sortIndx` ASC 
	</select>
   	<select id="findPermissionsByUserName" resultType="ResourceInfo">
		SELECT 
		  rs.`id`,rs.`permission`,rs.`resourcelevel`,rs.`resourcename`,rs.`resourceorder`,rs.`resourceurl`,rs.`systemid`,rs.`type`,rs.icon,rs.sortIndx
		FROM
		  userinfo ui,
		  roleinfo role,
		  userrole ur,
		  resourcesinfo rs,
		  roleresource rr,
		  systeminfo si
		WHERE ui.`id` = ur.`userid` 
		  AND ur.`roleid` = role.`id` 
		  AND role.`id` = rr.`roleid`
		  AND rr.`resourceid` = rs.`id`
		  AND rs.`resourceorder` != '0'
		  AND si.`id` = rs.`systemid`
		  AND rs.permission is not null
		  <if test="username != ''  and username!=null ">  
	           AND ui.`username` =  #{username} 
	        </if>
	   ORDER BY rs.`parentid` ASC ,rs.`sortIndx` ASC
	</select>
	<select id="getResourceInfoById" parameterType="string" resultType="ResourceInfo">
	SELECT t.id, 
						t.systemid,
						t.resourceurl,
						t.resourcename, 
						t.resourceorder,
						t.resourcelevel,
						t.type,
						t.permission,
						t.icon,
						t.sortIndx,
						t.parentid as _parentId
		FROM resourcesinfo t
	     where t.id = #{id,jdbcType=VARCHAR}  
	</select>
</mapper>