<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tf.base.resource.persistence.ResourceCreateMapper">

	<insert id="insertResourceInfo" parameterType="ResourceInfo" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO resourcesinfo  (
			systemid,
			resourceurl,
			resourcename, 
			resourceorder,
			resourcelevel,
			type,
			permission,
			icon,
			sortIndx,
			parentid
    	) 
    	VALUES 
    	(
		 #{systemid,jdbcType=VARCHAR},
		#{resourceurl,jdbcType=VARCHAR},
		#{resourcename,jdbcType=VARCHAR}, 
		#{resourceorder,jdbcType=VARCHAR},
		#{resourcelevel,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{permission,jdbcType=VARCHAR}, 
		#{icon,jdbcType=VARCHAR}, 
		#{sortIndx,jdbcType=VARCHAR}, 
		#{ _parentId,jdbcType=VARCHAR} 
		)
    </insert>
</mapper>