<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.socialorg.persistence.SocialOrgPmbrCountMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.socialorg.domain.SocialOrgPmbrCount" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="social_org_info_id" property="socialOrgInfoId" jdbcType="INTEGER" />
    <result column="partymbr_in_socielorg_num" property="partymbrInSocielorgNum" jdbcType="INTEGER" />
    <result column="partymbr_group_in_socielorg_num" property="partymbrGroupInSocielorgNum" jdbcType="INTEGER" />
    <result column="partymbr_under_thirtyfive_num" property="partymbrUnderThirtyfiveNum" jdbcType="INTEGER" />
    <result column="partymbr_on_college_num" property="partymbrOnCollegeNum" jdbcType="INTEGER" />
    <result column="partymbr_under_highschool_num" property="partymbrUnderHighschoolNum" jdbcType="INTEGER" />
    <result column="partymbr_group_notin_socielorg_num" property="partymbrGroupNotInSocielorgNum" jdbcType="INTEGER" />
    <result column="init_is" property="initIs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, social_org_info_id, partymbr_in_socielorg_num, partymbr_group_in_socielorg_num, 
    partymbr_under_thirtyfive_num, partymbr_on_college_num, partymbr_under_highschool_num, 
    init_is
  </sql>
  
  <select id="selectChangeOrgList" resultType="map">
  	select a.people,c.partymbr_under_thirtyfive_num,a.people - c.partymbr_under_thirtyfive_num as diff,a.social_org_info_id from 
		(
		select p.social_org_info_id,p.id,   count(*) as people from social_org_pmbr_info p where 
		 (year(now())-year(birthday)-1) + ( DATE_FORMAT(birthday, '%m%d') &lt;= DATE_FORMAT(NOW(), '%m%d') ) &lt; 35
		and p.`status` = '1'
		 group by p.social_org_info_id
		) a
		,social_org_pmbr_count c 
		where c.social_org_info_id = a.social_org_info_id
		and (a.people - c.partymbr_under_thirtyfive_num) &lt;&gt; 0
		  	
  </select>
  <select id="getPmbrCount" resultMap="BaseResultMap">
  	SELECT
		sum(partymbr_group_in_socielorg_num) AS partymbr_group_in_socielorg_num,
		sum(partymbr_under_thirtyfive_num) AS partymbr_under_thirtyfive_num,
		sum(partymbr_on_college_num) AS partymbr_on_college_num,
		sum(partymbr_under_highschool_num) AS partymbr_under_highschool_num,
		sum(partymbr_in_socielorg_num) AS partymbr_group_notin_socielorg_num
	FROM
		social_org_pmbr_count
	<where>
		<if test="orgIdArray.length > 0">
			social_org_info_id in 
		 <foreach collection="orgIdArray" item="item" open="(" close=")" separator=",">
		 	#{item}
		 </foreach>
		</if>
	</where>
  </select>
</mapper>