<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.commonstatistics.persistence.UnpublicWorkLedgerMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.commonstatistics.domain.UnpublicWorkLedger" >
    <result column="belocated_address" property="belocatedAddress" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="million_building_is" property="millionBuildingIs" jdbcType="VARCHAR" />
    <result column="inpark_name" property="inparkName" jdbcType="VARCHAR" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="register_address" property="registerAddress" jdbcType="VARCHAR" />
    <result column="operate_address" property="operateAddress" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="industry_type" property="industryType" jdbcType="VARCHAR" />
    <result column="business_volume" property="businessVolume" jdbcType="VARCHAR" />
    <result column="jobin_totalnum" property="jobinTotalnum" jdbcType="VARCHAR" />
    <result column="on_scale_is" property="onScaleIs" jdbcType="VARCHAR" />
    <result column="sponsor_name" property="sponsorName" jdbcType="VARCHAR" />
    <result column="sponsor_partymember_is" property="sponsorPartymemberIs" jdbcType="VARCHAR" />
    <result column="sponsor_partyorg_secretary_is" property="sponsorPartyorgSecretaryIs" jdbcType="VARCHAR" />
    <result column="sponsor_twodeputy_acommittee_is" property="sponsorTwodeputyAcommitteeIs" jdbcType="VARCHAR" />
    <result column="is_set_up_party_org" property="isSetUpPartyOrg" jdbcType="VARCHAR" />
    <result column="party_org_time" property="partyOrgTime" jdbcType="DATE" />
    <result column="party_org_form" property="partyOrgForm" jdbcType="VARCHAR" />
    <result column="party_org_type" property="partyOrgType" jdbcType="VARCHAR" />
    <result column="absence_party_org_reasion" property="absencePartyOrgReasion" jdbcType="VARCHAR" />
    <result column="is_instructor" property="isInstructor" jdbcType="VARCHAR" />
    <result column="secretary_name" property="secretaryName" jdbcType="VARCHAR" />
    <result column="secretary_source" property="secretarySource" jdbcType="VARCHAR" />
    <result column="deputySecretaryNum" property="deputySecretaryNum" jdbcType="VARCHAR" />
    <result column="deputySecretaryFullNum" property="deputySecretaryFullNum" jdbcType="VARCHAR" />
    <result column="partymbr_in_unpublic_num" property="partymbrInUnpublicNum" jdbcType="VARCHAR" />
    <result column="partymbr_under_thirtyfive_num" property="partymbrUnderThirtyfiveNum" jdbcType="VARCHAR" />
    <result column="partymbr_middle_manager_num" property="partymbrMiddleManagerNum" jdbcType="VARCHAR" />
    <result column="partymbr_on_middletech_num" property="partymbrOnMiddletechNum" jdbcType="VARCHAR" />
    <result column="partymbr_frontline_num" property="partymbrFrontlineNum" jdbcType="VARCHAR" />
    <result column="partymbr_notin_unpublic_num" property="partymbrNotinUnpublicNum" jdbcType="VARCHAR" />
    <result column="partymbr_in_village_num" property="partymbrInVillageNum" jdbcType="VARCHAR" />
    <result column="three_years_member" property="threeYearsMember" jdbcType="VARCHAR" />
    <result column="three_years_unqualifieds" property="threeYearsUnqualifieds" jdbcType="VARCHAR" />
    <result column="is_training_in_rotation" property="isTrainingInRotation" jdbcType="VARCHAR" />
    <result column="is_party_member_train" property="isPartyMemberTrain" jdbcType="VARCHAR" />
    <result column="has_sociaty" property="hasSociaty" jdbcType="VARCHAR" />
    <result column="has_youth_league" property="hasYouthLeague" jdbcType="VARCHAR" />
    <result column="has_women_league" property="hasWomenLeague" jdbcType="VARCHAR" />
    <result column="is_oneself" property="isOneself" jdbcType="VARCHAR" />
    <result column="stage_area" property="stageArea" jdbcType="VARCHAR" />
    <result column="is_into_manage" property="isIntoManage" jdbcType="VARCHAR" />
    <result column="is_develop_listen" property="isDevelopListen" jdbcType="VARCHAR" />
    <result column="is_develop_discussions" property="isDevelopDiscussions" jdbcType="VARCHAR" />
    <result column="is_develop_analysis" property="isDevelopAnalysis" jdbcType="VARCHAR" />
    <result column="is_change_everyyear" property="isChangeEveryyear" jdbcType="VARCHAR" />
    <result column="create_org" property="createOrg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
   
  </sql>
  <select id="queryList" resultMap="BaseResultMap">
  	select * from unpublic_detailed_report
  	<where>
  		<if test="params.createOrg != null and params.createOrg != ''">
  			and create_org = #{params.createOrg}
  		</if>
  		<if test="params.startTime != null and params.startTime != ''">
  		<![CDATA[
  			and create_time >= #{params.startTime}
  		]]>
  		</if>
  		<if test="params.endTime != null and params.endTime != ''">
  		<![CDATA[
  			and create_time <= #{params.endTime}
  		]]>
  		</if>
  		<if test="params.year != null and params.year != ''">
  		<![CDATA[
  			and year = #{params.year}
  		]]>
  		</if>
  	</where>
  	order by create_time desc
  </select>
</mapper>