<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tf.base.cover.persistence.CoverPartyOrgChangeInfoMapper">
  <resultMap id="BaseResultMap" type="com.tf.base.cover.domain.CoverPartyOrgChangeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="social_party_org_id" jdbcType="INTEGER" property="socialPartyOrgId" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="change_attachment_id" jdbcType="INTEGER" property="changeAttachmentId" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, social_party_org_id, change_time, change_attachment_id, creater, create_time, 
    status
  </sql>
  <update id="deleteChangeInfo">
  	update social_party_org_change_info set status = '0' where social_party_org_id = #{partyOrgId}
  </update>
</mapper>