<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tf.base.common.persistence.CommonMapper">
	<select id="getDepartResource" resultType="java.lang.String">
		SELECT t.resourceid
		FROM departmentresource t
	WHERE t.departmentid = #{department,jdbcType=NUMERIC}
	      AND t.systemid =  #{system,jdbcType=NUMERIC}
	</select>
	
	<select id="getRoleResource" resultType="java.lang.String">
		SELECT t.resourceid
		FROM roleresource t
	WHERE t.roleid = #{role,jdbcType=NUMERIC}
	      AND t.systemid =  #{system,jdbcType=NUMERIC}
	</select>
	
	<select id="getUserResource" resultType="java.lang.String">
		SELECT t.resourceid
		FROM roleresource t
	WHERE t.roleid = #{role,jdbcType=NUMERIC}
	      AND t.systemid =  #{system,jdbcType=NUMERIC}
	</select>
</mapper>