<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tf.base.unpublic.persistence.LowerPartyOrgMapper">
  <resultMap id="BaseResultMap" type="com.tf.base.unpublic.domain.LowerPartyOrg">
    <id column="lower_party_org_id" jdbcType="INTEGER" property="lowerPartyOrgId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="party_org_id" jdbcType="INTEGER" property="partyOrgId" />
    <result column="lower_party_org_name" jdbcType="VARCHAR" property="lowerPartyOrgName" />
    <result column="lower_party_org_type" jdbcType="VARCHAR" property="lowerPartyOrgType" />
    <result column="lower_party_org_sum" jdbcType="INTEGER" property="lowerPartyOrgSum" />
    <result column="setup_time" jdbcType="DATE" property="setupTime" />
    <result column="parent_lower_party_org" jdbcType="VARCHAR" property="parentLowerPartyOrg" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_org" jdbcType="VARCHAR" property="createOrg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    lower_party_org_id, type, party_org_id, lower_party_org_name, lower_party_org_type, 
    lower_party_org_sum, setup_time, parent_lower_party_org, creater, create_org, create_time, 
    status
  </sql>
 <update id="deleteLowerInfo">
 	update lower_party_org set status = '0' where party_org_id = #{partyOrgId}
 </update>
</mapper>