<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.unpublic.persistence.UnpublicOrgPmbrCountMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.unpublic.domain.UnpublicOrgPmbrCount" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="unpublic_org_info_id" property="unpublicOrgInfoId" jdbcType="INTEGER" />
    <result column="partymbr_in_unpublic_num" property="partymbrInUnpublicNum" jdbcType="INTEGER" />
    <result column="partymbr_under_thirtyfive_num" property="partymbrUnderThirtyfiveNum" jdbcType="INTEGER" />
    <result column="partymbr_middle_manager_num" property="partymbrMiddleManagerNum" jdbcType="INTEGER" />
    <result column="partymbr_on_middletech_num" property="partymbrOnMiddletechNum" jdbcType="INTEGER" />
    <result column="partymbr_frontline_num" property="partymbrFrontlineNum" jdbcType="INTEGER" />
    <result column="partymbr_notin_unpublic_num" property="partymbrNotinUnpublicNum" jdbcType="INTEGER" />
    <result column="partymbr_in_village_num" property="partymbrInVillageNum" jdbcType="INTEGER" />
    <result column="init_is" property="initIs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, unpublic_org_info_id, partymbr_in_unpublic_num, partymbr_under_thirtyfive_num, 
    partymbr_middle_manager_num, partymbr_on_middletech_num, partymbr_frontline_num, 
    partymbr_notin_unpublic_num, partymbr_in_village_num, init_is
  </sql>
  <select id="selectChangeOrgList" resultType="map">
  	select a.people,c.partymbr_under_thirtyfive_num,a.people - c.partymbr_under_thirtyfive_num as diff,a.unpublic_org_info_id from 
		(
		select p.unpublic_org_info_id,p.id,   count(*) as people from unpublic_org_pmbr_info p where 
		 (year(now())-year(birthday)-1) + ( DATE_FORMAT(birthday, '%m%d') &lt;= DATE_FORMAT(NOW(), '%m%d') ) &lt; 35 
		and p.`status` = '1'
		group by p.unpublic_org_info_id
		) a
		,unpublic_org_pmbr_count c 
		where c.unpublic_org_info_id = a.unpublic_org_info_id
		and (a.people - c.partymbr_under_thirtyfive_num) &lt;&gt; 0
  </select>
  <select id="getPmbrCount" resultMap="BaseResultMap">
  	SELECT
		sum(partymbr_in_unpublic_num) as partymbr_in_unpublic_num,
		sum(partymbr_under_thirtyfive_num) as partymbr_under_thirtyfive_num,
		sum(partymbr_middle_manager_num) as partymbr_middle_manager_num,
		sum(partymbr_on_middletech_num) as partymbr_on_middletech_num,
		sum(partymbr_frontline_num) as partymbr_frontline_num,
		sum(partymbr_notin_unpublic_num) as partymbr_notin_unpublic_num,
		sum(partymbr_in_village_num) as partymbr_in_village_num
	FROM
		unpublic_org_pmbr_count
	<where>
		<if test="orgIdArray.length > 0">
			unpublic_org_info_id in 
		 <foreach collection="orgIdArray" item="item" open="(" close=")" separator=",">
		 	#{item}
		 </foreach>
		</if>
	</where>
  </select>
</mapper>