<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tf.base.unpublic.persistence.UnpublicPartyOrgInfoMapper">
  <resultMap id="BaseResultMap" type="com.tf.base.unpublic.domain.UnpublicPartyOrgInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orgId" jdbcType="VARCHAR" property="orgId" />
    <result column="name" jdbcType="VARCHAR" property="orgName" />
    <result column="partymbr_in_unpublic_num" jdbcType="VARCHAR" property="partyInNum" />
    <result column="partymbr_notin_unpublic_num" jdbcType="VARCHAR" property="partyNotInNum" />
    <result column="is_set_up_party_org" jdbcType="VARCHAR" property="isSetUpPartyOrg" />
    <result column="absence_party_org_reasion" jdbcType="VARCHAR" property="absencePartyOrgReasion" />
    <result column="party_org_form" jdbcType="VARCHAR" property="partyOrgForm" />
    <result column="party_org_type" jdbcType="VARCHAR" property="partyOrgType" />
    <result column="is_instructor" jdbcType="VARCHAR" property="isInstructor" />
    <result column="instructor_name" jdbcType="VARCHAR" property="instructorName" />
    <result column="instructor_unit" jdbcType="VARCHAR" property="instructorUnit" />
    <result column="instructor_job" jdbcType="VARCHAR" property="instructorJob" />
    <result column="party_org_time" jdbcType="TIMESTAMP" property="partyOrgTime" />
    <result column="party_org_attachment" jdbcType="VARCHAR" property="partyOrgAttachment" />
    <result column="party_org_name" jdbcType="VARCHAR" property="partyOrgName" />
    <result column="party_org_tel" jdbcType="VARCHAR" property="partyOrgTel" />
    <result column="subjection_party_name" jdbcType="VARCHAR" property="subjectionPartyName" />
    <result column="subjection_party_id" jdbcType="INTEGER" property="subjectionPartyId" />
    <result column="secretary_name" jdbcType="VARCHAR" property="secretaryName" />
    <result column="secretary_birthday" jdbcType="DATE" property="secretaryBirthday" />
    <result column="secretary_education" jdbcType="VARCHAR" property="secretaryEducation" />
    <result column="secretary_source" jdbcType="VARCHAR" property="secretarySource" />
    <result column="secretary_company" jdbcType="VARCHAR" property="secretaryCompany" />
    <result column="deputy_secretary_type" jdbcType="VARCHAR" property="deputySecretaryType" />
    <result column="deputy_secretary_name" jdbcType="VARCHAR" property="deputySecretaryName" />
    <result column="deputy_secretary_birthday" jdbcType="DATE" property="deputySecretaryBirthday" />
    <result column="deputy_secretary_sex" jdbcType="VARCHAR" property="deputySecretarySex" />
    <result column="deputy_secretary_education" jdbcType="VARCHAR" property="deputySecretaryEducation" />
    <result column="deputy_secretary_is_full_time" jdbcType="VARCHAR" property="deputySecretaryIsFullTime" />
    <result column="part_time_workers" jdbcType="INTEGER" property="partTimeWorkers" />
    <result column="full_time_workers" jdbcType="INTEGER" property="fullTimeWorkers" />
    <result column="is_oneself" jdbcType="VARCHAR" property="isOneself" />
    <result column="belong_unit" jdbcType="VARCHAR" property="belongUnit" />
    <result column="stage_area" jdbcType="VARCHAR" property="stageArea" />
    <result column="other_info" jdbcType="VARCHAR" property="otherInfo" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_org" jdbcType="VARCHAR" property="createOrg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_set_up_party_org, absence_party_org_reasion, party_org_form, party_org_type, 
    is_instructor, instructor_name, instructor_unit, instructor_job, party_org_time, 
    party_org_attachment, party_org_name, party_org_tel, subjection_party_name, subjection_party_id, 
    secretary_name, secretary_birthday, secretary_education, secretary_source, secretary_company, 
    deputy_secretary_type, deputy_secretary_name, deputy_secretary_birthday, deputy_secretary_sex, 
    deputy_secretary_education, deputy_secretary_is_full_time, part_time_workers, full_time_workers, 
    is_oneself, belong_unit, stage_area, other_info, creater, create_org, create_time, 
    status
  </sql>
  
  <select id="queryList" resultMap="BaseResultMap">
  	<![CDATA[
	  	SELECT
			o.id as orgId, o.name, 
			(select count(*) from unpublic_org_pmbr_info 
				where unpublic_org_info_id = o.id and partymbr_in_unpublic_is = '1') as partymbr_in_unpublic_num,
			(select count(*) from unpublic_org_pmbr_info 
				where unpublic_org_info_id = o.id and partymbr_in_unpublic_is = '0') as partymbr_notin_unpublic_num, 
			p.*
		FROM
			unpublic_org_info o
		LEFT JOIN unpublic_party_org_info p ON o.unpublic_party_org_id = p.id and p.status <> '0'
	]]>
  	<where>
  			o.status = '2' 
  		<if test="params.partyOrgName != null and params.partyOrgName != ''">
  			and p.party_org_name like CONCAT('%', #{params.partyOrgName}, '%')
  		</if>
  		<if test="params.partyOrgType != null and params.partyOrgType != ''">
  			and p.party_org_type = #{params.partyOrgType}
  		</if>
  		<if test="params.partyOrgForm != null and params.partyOrgForm != ''">
  			and p.party_org_form = #{params.partyOrgForm}
  		</if>
  		<if test="params.createOrg !=null and params.createOrg !='' ">
  			and o.create_org = #{params.createOrg}
  		</if>
  		<if test="params.creater !=null and params.creater !=''">
  			and p.creater like CONCAT('%', #{params.creater}, '%')
  		</if>
  		<if test="params.status !=null and params.status !=''">
  			and p.status = #{params.status}
  		</if>
  		<if test="params.orgName !=null and params.orgName !=''">
  			and o.name like CONCAT('%', #{params.orgName}, '%')
  		</if>
  		<if test="params.isSetUpPartyOrg !=null and params.isSetUpPartyOrg !='' and params.isSetUpPartyOrg != '0'.toString()">
  			and p.is_set_up_party_org is not null
  		</if>
  		<if test="params.isSetUpPartyOrg !=null and params.isSetUpPartyOrg !='' and params.isSetUpPartyOrg != '1'.toString()">
  			and p.is_set_up_party_org is null
  		</if>
  		<if test="params.inOperator !=null and params.inOperator !='' and params.partyInNum !=null and params.partyInNum !=''">
  			and (select count(*) from unpublic_org_pmbr_info 
				where unpublic_org_info_id = o.id and partymbr_in_unpublic_is = '1') ${params.inOperator} ${params.partyInNum}
  		</if>
  		<if test="params.notinOperator !=null and params.notinOperator !='' and params.partyNotInNum !=null and params.partyNotInNum !=''">
  			and (select count(*) from unpublic_org_pmbr_info 
				where unpublic_org_info_id = o.id and partymbr_in_unpublic_is = '0') ${params.notinOperator} ${params.partyNotInNum}
  		</if>
  		<if test="params.isQuWeiSign !=null and params.isQuWeiSign !='' and params.isQuWeiSign == '1'.toString()">
  			<![CDATA[ and p.status is not null ]]>
  		</if>
  	</where>
  	order by p.create_time desc
  </select>
</mapper>