<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.unpublic.persistence.UnpublicOrgLeagueInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.unpublic.domain.UnpublicOrgLeagueInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="unpublic_org_info_id" property="unpublicOrgInfoId" jdbcType="INTEGER" />
    <result column="has_sociaty" property="hasSociaty" jdbcType="VARCHAR" />
    <result column="has_youth_league" property="hasYouthLeague" jdbcType="VARCHAR" />
    <result column="has_women_league" property="hasWomenLeague" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, unpublic_org_info_id, has_sociaty, has_youth_league, has_women_league
  </sql>
</mapper>