<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.commonstatistics.persistence.SocialWorkLedgerMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.commonstatistics.domain.SocialWorkLedger" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nature" property="nature" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="register_org" property="registerOrg" jdbcType="VARCHAR" />
    <result column="business_director_org" property="businessDirectorOrg" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="annual_survey" property="annualSurvey" jdbcType="VARCHAR" />
    <result column="jobin_totalnum" property="jobinTotalnum" jdbcType="VARCHAR" />
    <result column="jobin_major_num" property="jobinMajorNum" jdbcType="VARCHAR" />
    <result column="jobin_plurality_num" property="jobinPluralityNum" jdbcType="VARCHAR" />
    <result column="jobin_partymember_num" property="jobinPartymemberNum" jdbcType="VARCHAR" />
    <result column="charge_partymember_is" property="chargePartymemberIs" jdbcType="VARCHAR" />
    <result column="charge_partyorg_secretary_is" property="chargePartyorgSecretaryIs" jdbcType="VARCHAR" />
    <result column="charge_twodeputy_acommittee_is" property="chargeTwodeputyAcommitteeIs" jdbcType="VARCHAR" />
    <result column="is_set_up_party_org" property="isSetUpPartyOrg" jdbcType="VARCHAR" />
    <result column="absence_party_org_reasion" property="absencePartyOrgReasion" jdbcType="VARCHAR" />
    <result column="party_org_time" property="partyOrgTime" jdbcType="DATE" />
    <result column="partyChangeTime" property="partyChangeTime" jdbcType="DATE" />
    <result column="party_org_name" property="partyOrgName" jdbcType="VARCHAR" />
    <result column="party_org_tel" property="partyOrgTel" jdbcType="VARCHAR" />
    <result column="party_org_form" property="partyOrgForm" jdbcType="VARCHAR" />
    <result column="is_instructor" property="isInstructor" jdbcType="VARCHAR" />
    <result column="party_org_type" property="partyOrgType" jdbcType="VARCHAR" />
    <result column="subjection_party_name" property="subjectionPartyName" jdbcType="VARCHAR" />
    <result column="secretary_name" property="secretaryName" jdbcType="VARCHAR" />
    <result column="secretary_source" property="secretarySource" jdbcType="VARCHAR" />
    <result column="deputySecretaryNum" property="deputySecretaryNum" jdbcType="VARCHAR" />
    <result column="deputySecretaryFullNum" property="deputySecretaryFullNum" jdbcType="VARCHAR" />
    <result column="deputySecretaryPartNum" property="deputySecretaryPartNum" jdbcType="VARCHAR" />
    <result column="deputySecretaryOtherNum" property="deputySecretaryOtherNum" jdbcType="VARCHAR" />
    <result column="part_time_workers" property="partTimeWorkers" jdbcType="VARCHAR" />
    <result column="full_time_workers" property="fullTimeWorkers" jdbcType="VARCHAR" />
    <result column="is_party_member_train" property="isPartyMemberTrain" jdbcType="VARCHAR" />
    <result column="partymbr_in_socielorg_num" property="partymbrInSocielorgNum" jdbcType="VARCHAR" />
    <result column="partymbr_group_in_socielorg_num" property="partymbrGroupInSocielorgNum" jdbcType="VARCHAR" />
    <result column="partymbr_under_thirtyfive_num" property="partymbrUnderThirtyfiveNum" jdbcType="VARCHAR" />
    <result column="partymbr_on_college_num" property="partymbrOnCollegeNum" jdbcType="VARCHAR" />
    <result column="partymbr_under_highschool_num" property="partymbrUnderHighschoolNum" jdbcType="VARCHAR" />
    <result column="three_years_member" property="threeYearsMember" jdbcType="VARCHAR" />
    <result column="three_years_unqualifieds" property="threeYearsUnqualifieds" jdbcType="VARCHAR" />
    <result column="is_training_in_rotation" property="isTrainingInRotation" jdbcType="VARCHAR" />
    <result column="total_pay_dues" property="totalPayDues" jdbcType="VARCHAR" />
    <result column="city_funds" property="cityFunds" jdbcType="VARCHAR" />
    <result column="district_funds" property="districtFunds" jdbcType="VARCHAR" />
    <result column="social_org_funds" property="socialOrgFunds" jdbcType="VARCHAR" />
    <result column="other_content" property="otherContent" jdbcType="VARCHAR" />
    <result column="stage_area" property="stageArea" jdbcType="VARCHAR" />
    <result column="others_share_stage" property="othersShareStage" jdbcType="VARCHAR" />
    <result column="community_share_stage" property="communityShareStage" jdbcType="VARCHAR" />
    <result column="other_info" property="otherInfo" jdbcType="VARCHAR" />
    <result column="quarter_party_meeting_times" property="quarterPartyMeetingTimes" jdbcType="VARCHAR" />
    <result column="month_party_meeting_times" property="monthPartyMeetingTimes" jdbcType="VARCHAR" />
    <result column="party_meeting_month" property="partyMeetingMonth" jdbcType="VARCHAR" />
    <result column="listen_party_class" property="listenPartyClass" jdbcType="VARCHAR" />
    <result column="life_meeting_times" property="lifeMeetingTimes" jdbcType="VARCHAR" />
    <result column="develop_party_branch_no" property="developPartyBranchNo" jdbcType="VARCHAR" />
    <result column="year_total_pay_dues" property="yearTotalPayDues" jdbcType="VARCHAR" />
    <result column="is_party_into_school" property="isPartyIntoSchool" jdbcType="VARCHAR" />
    <result column="parent_party_org_type" property="parentPartyOrgType" jdbcType="VARCHAR" />
    <result column="is_board_officer" property="isBoardOfficer" jdbcType="VARCHAR" />
    <result column="deputySecretaryFullIs" property="deputySecretaryFullIs" jdbcType="VARCHAR" />
    <result column="deputySecreraryNumberIs" property="deputySecreraryNumberIs" jdbcType="VARCHAR" />
    <result column="schoolmasterHold" property="schoolmasterHold" jdbcType="VARCHAR" />
    <result column="deputySchoolmasterHold" property="deputySchoolmasterHold" jdbcType="VARCHAR" />
    <result column="otherMessageHold" property="otherMessageHold" jdbcType="VARCHAR" />
    <result column="schoolGroupNotIn" property="schoolGroupNotIn" jdbcType="VARCHAR" />
    <result column="is_ideological_political_org" property="isIdeologicalPoliticalOrg" jdbcType="VARCHAR" />
    <result column="is_moral_education_org" property="isMoralEducationOrg" jdbcType="VARCHAR" />
    <result column="is_into_manage" property="isIntoManage" jdbcType="VARCHAR" />
    <result column="coverOrgNum" property="coverOrgNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
   
  </sql>
  <select id="queryList" resultMap="BaseResultMap">
  	select * from social_detailed_report
  	<where>
  		<if test="params.createOrg != null and params.createOrg != ''">
  			and create_org = #{params.createOrg}
  		</if>
  		<if test="params.startTime != null and params.startTime != ''">
  		<![CDATA[
  			and create_time >= #{params.startTime}
  		]]>
  		</if>
  		<if test="params.endTime != null and params.endTime != ''">
  		<![CDATA[
  			and create_time <= #{params.endTime}
  		]]>
  		</if>
  		<if test="params.year != null and params.year != ''">
  		<![CDATA[
  			and year = #{params.year}
  		]]>
  		</if>
  	</where>
  	order by create_time desc
  </select>
</mapper>