<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tf.base.department.persistence.DepartmentModifyMapper">
	<select id="getDepartmentInfoById" resultType="DepartmentInfo">
		SELECT id,
						name,
						higherDepart,avail
		FROM departmentinfo
	   WHERE id = #{id}
	</select>
    
    <update id="modifyDepartmentInfo" parameterType="DepartmentInfo">
        UPDATE departmentinfo
               SET name = #{info.name,jdbcType=VARCHAR},
               		 higherDepart = #{info.higherDepart,jdbcType=VARCHAR},
               		 avail = #{info.avail,jdbcType=VARCHAR}
         WHERE id =  #{info.id,jdbcType=VARCHAR}
    </update>
</mapper>
