<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.cover.persistence.CoverOrgPmbrInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.cover.domain.CoverOrgPmbrInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="cover_org_pmbr_id" property="id" jdbcType="INTEGER" />
    <result column="cover_org_info_id" property="coverOrgInfoId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="is_from_cover_org" property="isFromCoverOrg" jdbcType="VARCHAR" />
    <result column="create_org" property="createOrg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    cover_org_pmbr_id, cover_org_info_id, name, gender, education, birthday, is_from_cover_org, create_org, 
    create_time, creator,status
  </sql>
  <select id="queryList" resultMap="BaseResultMap">
  	select a.* from cover_org_pmbr_info a
  	<where>
  		and a.status ='1'
  		<if test="params.name != null and params.name != ''">
  			and a.name = #{params.name}
  		</if>
  		<if test="params.coverPartyOrgId != null and params.coverPartyOrgId != ''">
  			and a.cover_org_info_id = #{params.coverPartyOrgId}
  		</if>
  		
  	</where>
  </select>
  <select id="queryListByOrgId" resultMap="BaseResultMap">
  	select a.* from cover_org_pmbr_info a
  	<where>
  		and a.status ='1' 
  		<if test="prmName != null and prmName != ''">
  			and a.name like CONCAT('%', #{prmName}, '%') 
  		</if>
  		<if test="coverPartyOrgId != null and coverPartyOrgId != ''">
  			and a.cover_org_info_id = #{coverPartyOrgId}
  		</if>
  	</where>
  </select>
</mapper>